:root {
  --shadow-main: 0px 2px 5px rgb(174, 174, 174);
  --shadow-hover-white: 0px 2px 5px aliceblue;
  --bs-border-width: 3px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}
.max-width {
  max-width: 976px;
}
body {
  background: linear-gradient(white, rgb(175, 233, 251), rgb(72, 202, 241)) no-repeat;
  min-height: 100vh;
  /* background-size: 100%; */
  /* background-color: greenyellow; */
  height: 100%;
}
.font-red {
  color: #cd2c08;
}
a {
  text-decoration: none;
}
.btn-primary {
  --bs-btn-color: #cd2c08;
  --bs-btn-bg: white;
  --bs-btn-border-color: #cd2c08;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #cd2c08;
  --bs-btn-hover-border-color: unset;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(72, 202, 241);
  --bs-btn-active-border-color: rgb(72, 202, 241);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
